@use '../../../../../styles.scss' as m;

.line {
    display: block;
    content: "";
    width: 90%;
    height: 1px;
    border: 1px solid m.$color-line;
    border-radius: 50%;
    margin: auto;
}

.subtasks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    height: 40rem;
    max-height: 60rem;
    overflow-y: auto;
    overflow-x: hidden;
    
    @include m.pc {
        max-height: 70rem;
        height: auto;
    }

    .subtasks-main {
        width: 98%;
        margin: 0 auto;

        @include m.pc {
            min-width: 40rem;
            max-width: 60rem;
            margin: auto;
        }
    }

    .date,
    .user {
        @include m.pc {
            text-align: center;

            span {
                display: block;
            }
        }
    }

    .subtask {
        position: relative;
    }

    .subtask-content {
        width: 90%;
        margin: .5rem auto;
        position: relative;

        .btn-notas {
            position: absolute;
            top: 0;
            left: 0;
            padding: .5rem;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color .3s ease-in-out;
        
            &:hover {
                background-color: m.$color-navigate-hover;
            }
        }
        
        .priority {
            p {
                padding: .3rem 1.5rem;
                border-radius: 10px;
                color: white;
            }

            .complete {
                color: black;

                span {
                    font-size: 1.2rem;
                }
            }
        }

        .title-subtask {
            font-size: 1.7rem;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            .btns {
                div {
                    padding: .5rem;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: background-color .3s ease-in-out;

                    &:hover {
                        background-color: m.$color-navigate-hover;
                    }
                }
            }
        }
    }

    .subtask,
    .add-subtask {
        background-color: m.$color-btn-navigate;
        border: 2px solid m.$color-navigate-hover;
        border-radius: 10px;
    }

    .add-subtask {
        .add-text {
            font-size: 1.6rem;
        }
        .btn-add {
            padding: 1rem;

            svg {
                cursor: pointer;
                display: inline;
                background-color: m.$color-green;
                border: 2px solid transparent;
                border-radius: 50%;
                transition: all .3s ease;
                
                &:hover {
                    background-color: darken(m.$color-green, 4);
                    box-shadow: 0 0 5px 2px lighten(m.$color-green, 10);
                    transform: scale(1.05);
                }
            }
            
        }
    }
}

p {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;

    span {
        font-weight: normal;
        font-size: 1.7rem;
        text-transform: none;
    }
}

.red {
    background-color: m.$color-red;
}

.yellow {
    background-color: m.$color-yellow;
}

.blue {
    background-color: m.$color-blue;
}

.white {
    background-color: #fff;
    color: black !important;
    font-weight: bold;
}

.checked {
    // box-shadow: 0 0 7px 2px rgb(74, 121, 215);
    box-shadow: 0 0 7px 2px m.$color-blue;
    border: 2px solid lighten(m.$color-blue, 20) !important;
    background-color: lighten(m.$color-blue, 34) !important;
}