<div class="contenedor">

    <app-header></app-header>
    
    <div class="py-5">
        <div>
            <ul class="nav nav-underline">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Recientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Fecha de entrega</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Progreso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-disabled="true">Subtareas</a>
                </li>
            </ul>
        </div>

        <app-carousel-activities></app-carousel-activities>
    </div> <!-- End filters -->

    <div class="line"></div>

    <div class="activities">
        <div class="title-activities d-flex justify-content-between mt-5">
            <p class="text-uppercase">Tarea</p>
            <div class="d-flex gap-4">
                <p class="notes">Notas</p>
                <div><button class="btn btn-color">Crear</button></div>
            </div>
        </div>
        
        @if(activity) {
            <div class="tasks">
                <app-activity></app-activity>
                @if(showLine) { <div class="line"></div> }
                <app-subtask></app-subtask>
            </div> <!-- End .tasks -->
        } @else {
            <p class="text-center p-5">No se ha seleccionado una actividad</p>
        }
        </div> <!-- End .activities -->
</div>