@use '../../../../../styles.scss' as m;

p {
    margin: 0;
}

.notes {
    background-color: m.$color-white;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    max-width: 60%;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: 1;
    max-height: 100%;
    overflow: auto;

    .slide-in {
        animation-name: slideIn;
    }

    .slide-out {
        animation-name: slideOut;
        opacity: 0;
        max-height: 0;
        transition: max-height 0.3s ease, opacity 0.3s ease;
    }

    &.notes-in {
        opacity: 1;
        // max-width: 60%;
        transform: translateX(0%);
        transition: all 0.3s ease;
    }

    &.notes-out {
        opacity: 0;
        // max-width: 0;
        transform: translate(100%);
        transition: all 0.3s ease;
    }
}

.notes-btn {
    position: sticky;
    top: 0;
    width: 5%;
    border: 1px solid m.$color-navigate-hover;
    border-top-right-radius: 1rem;
    background-color: m.$color-white;
    transition: background-color .2s ease-in;
    cursor: pointer;

    &:hover {
        background-color: m.$color-btn-navigate;
    }
}

.notes-content {
    .notes-text {
        transition: background-color .2s ease-in;
        cursor: pointer;
        position: relative;
        
        &:hover {
            background-color: darken(m.$color-btn-navigate, 5);
        }
        
        p {
            margin: auto !important;
            width: 90%;
            font-size: 1.2rem;
            span {
                font-size: 1.1rem;
            }
        }
    }

    .note-new {
        overflow: hidden;
        animation-duration: .3s;
    }
}

.line {
    content: " ";
    display: block;
    width: 100%;
    height: 1px;
    background-color: m.$color-line;
    border-radius: 10px;
}

textarea {
    border: none;
    background-color: transparent;
    resize: none;
    height: auto;
    min-height: 5;
    font-size: 1.1rem;
    width: 100%;

    &::placeholder {
        font-style: italic;
    }
}

.rotate {
    transform: rotate(225deg);
    transition: transform .3s ease;
}

.no-rotate {
    transform: (rotate(0));
    transition: transform .3s ease;
}

// add note
@keyframes slideIn {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 10rem;
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        max-height: 10rem;
        opacity: 1;
    }
    to {
        max-height: 0;
        opacity: 0;
    }
}