<div class="principal">
    <header class="">
        <h1 class="text-center py-4 text-uppercase fw-bold">Gestor de actividades</h1>
        <div class="d-flex justify-content-center align-items-center gap-4">
            <app-menu (click)="onClick()"></app-menu>
            <app-busqueda></app-busqueda>
            <app-user-logo></app-user-logo>
            <app-notify></app-notify>
        </div>
    </header>

    <main>
        <div class="all-activities my-5">
            <h2 class="my-4">Mis actividades</h2>
            <!-- Carrusel -->
            <div class="activities">
                <app-activities></app-activities>
                <app-activities></app-activities>
                <app-activities></app-activities>
                <app-activities></app-activities>
                <app-activities></app-activities>
                <app-activities></app-activities>
                <app-activities></app-activities>
                <app-activities></app-activities>
                <app-activities></app-activities>
            </div>
        </div>
        
        <div class="create-activities pb-5">
            <h2 class="my-4">Mis grupos</h2>
            <div class="groups">
            </div>
        </div>

        <div>
            <h2 class="my-4">Mis contactos</h2>
            <div class="contacts">
            </div>
        </div>
    </main>
</div>