<div class="contenedor">
    
    <app-header></app-header>

    <main>
        <div class="carousel-container">
            <div class="title">
                <p>Mis actividades</p>
                <button class="btn btn-color">Nuevo</button>
            </div>
            @if(carouselItemsActivities[0]) {
                <app-carousel [items]="carouselItemsActivities"></app-carousel>
            }
        </div>
        
        <div class="carousel-container">
            <div class="title">
                <p>Mis grupos</p>
                <button class="btn btn-color">Crear</button>
            </div>
            @if(carouselItemsGroups[0]) {
                <app-carousel [items]="carouselItemsGroups"></app-carousel>
            }
        </div>
        
        <div class="carousel-container">
            <div class="title">
                <p>Mis contactos</p>
                <button class="btn btn-color">Agregar</button>
            </div>
            @if(carouselItemsUsers[0]) {
                <app-carousel [items]="carouselItemsUsers"></app-carousel>
            }
        </div>
    </main>
</div>