<div class="contenedor">
    <header>
        <h1 class="text-center py-4 text-uppercase fw-bold">Gestor de actividades</h1>
        <div class="d-flex justify-content-center align-items-center gap-4">
            <app-menu (click)="onClick()"></app-menu>
            <app-busqueda></app-busqueda>
            <app-user-logo></app-user-logo>
            <app-notify></app-notify>
        </div>
    </header>

    <main>
        <div class="carousel-container">
            <div class="title">
                <p>Mis actividades</p>
                <button class="btn btn-color">Nuevo</button>
            </div>
            @if(dataLoadActivities) {
                <app-carousel [items]="carouselItemsActivities"></app-carousel>
            }
        </div>
        
        <div class="carousel-container">
            <div class="title">
                <p>Mis grupos</p>
                <button class="btn btn-color">Crear</button>
            </div>
            @if(dataLoadGroups) {
                <app-carousel [items]="carouselItemsGroups"></app-carousel>
            }
        </div>
        
        <div class="carousel-container">
            <div class="title">
                <p>Mis contactos</p>
                <button class="btn btn-color">Agregar</button>
            </div>
            @if(dataLoadContacts) {
                <app-carousel [items]="carouselItemsContacts"></app-carousel>
            }
        </div>
    </main>
</div>