@use '../../../../../styles.scss' as m;

h3 {
    font-size: 2rem;
}
.activity {
    background-color: m.$color-navigate;
    height: 12rem;
    width: 20rem;
    display: grid;
    align-content: center;
    gap: 5px;
    progress {
        width: 80%;
        height: 1rem;
        margin: .5rem auto;
        &::-webkit-progress-value {
            background-color: m.$color-progress;
            box-shadow: rgba(black, 0.2) 3px 3px 6px 0px inset, rgba(black, 0.1) -3px -3px 6px 1px inset;
        }
        &::-webkit-progress-bar {
            box-shadow: rgb(163, 176, 187) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.7) -3px -3px 6px 1px inset;
            background-color: white;
        }
    }
}