<div class="carousel">
    <div class="carousel-container">
        <div class="carousel-elements">
            @for (item of displayedItems; track item.id) {
                <div class="item" (click)="onClick(item.id)">
                    @if(item.photo) {
                        <!-- <img class="photo" [src]="item.name" [alt]="item.info"> -->
                        <img class="photo" src="assets/img.jpeg" [alt]="item.info">
                    } @else {
                        <div class="title">
                            <p class="fw-bold title_p">{{ item.name }}</p>
                        </div>
                    }
                    @if(regex.test(item.info)) {
                        <p class="date">{{ item.info | date: 'dd/MM/yyyy'}}</p>
                    } @else {
                        <p class="date"> {{item.info}} </p>
                    }
                    @if(item.progressbar) {
                        <div carousel-progress>
                            <progress [value]="item.footer" max="100"></progress>
                            <p class="percentage">{{ item.footer }}%</p>
                        </div>
                    } @else {
                        <p class="percentage">{{ item.footer }}</p>
                    }
                </div>
            } @empty {
                <div class="d-flex flex-column justify-content-center align-items-center m-auto gap-3">
                    <p class="not-found"> Sin resultados </p>
                    @if(error) {
                        <button class="btn btn-error" (click)="reload()"> Recargar </button>
                    }
                </div>
            }
        </div>
    </div>

    @if(items.length !== 0) {
        <div class="carousel-btn">
            <button class="button btn-left" (click)="prev()"> 
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-left" width="20" height="20"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M20 15h-8v3.586a1 1 0 0 1 -1.707 .707l-6.586 -6.586a1 1 0 0 1 0 -1.414l6.586 -6.586a1 1 0 0 1 1.707 .707v3.586h8a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1z" />
                </svg>
            </button>
            <button class="button btn-right" (click)="next()">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-right" width="20" height="20"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M4 9h8v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1z" />
                </svg>
            </button>
        </div>
    }
</div>